// Header styles

header#site-header {
	
	position: relative;
	display: block;
	
	width: 100%;
	
	@supports (display: grid) {
		display: grid;

		grid-template-rows: auto auto;
		grid-template-columns: auto;
		grid-template-areas: "home" "nav";
		
		@include sm-up {
			grid-template-rows: auto;
			grid-template-columns: auto auto;
			grid-template-areas: "home nav";
		}
	}
	
	nav#home-link {
		display: block;
		
		grid-area: home;
		justify-self: flex-start;
		
		@include sm-up {
			justify-self: flex-start;
		}
		
		padding: 10px 0;
		
		@include sm-up {
			padding: 20px 5px;
		}
		margin: 0;
		
		a {
			color: $black;
			font-weight: 600;
			
			font-size: 			$font-size-base;
			line-height: 1.4;
								
			@include sm {
				font-size: 		$font-size-base;
			}
			@include md {
				font-size: 		$font-size-base * 1.5;
			}
			@include lg {
				font-size: 		$font-size-base * 1.5;
			}
			@include xl {
				font-size: 		$font-size-base * 1.5;
			}					
		}
	}
	
	div.navigation {
		display: block;
		
		grid-area: nav;
		justify-self: flex-start;
				
		@include sm-up {
			justify-self: flex-end;
		}

		nav {
			width: 100%;
			
			ul {
				display: inline-block;
				
				padding: 0 0 10px 0;
				
				@include sm-up {
				padding: 20px 5px;
				}
				margin: 0;
				
				list-style: none;
				
				li {
					display: inline-block;
					
					padding-left: 0;
					margin-right: 20px;
					
					&:last-of-type {
						margin-right: 0;
					}
					
					a {
						color: $black;
						font-weight: 600;
						
						font-size: 			$font-size-base;
											
						@include sm {
							font-size: 		$font-size-base;
						}
						@include md {
							font-size: 		$font-size-base * 1.5;
						}
						@include lg {
							font-size: 		$font-size-base * 1.5;
						}
						@include xl {
							font-size: 		$font-size-base * 1.5;
						}					
					}
				}
			}
			
		}
	}

	
}