---
layout: page
---

<ul id="alphabet-index">
	
	{% for entry in site.data.alphabet %}
	
		{% if site.categories[entry.letter].size > 0 %}
		
			{% if page.url contains entry.url %}
			
				<a class="active" href="{{ site.url | append: entry.url }}">
					<li>{{ entry.letter }}</li>
				</a>
			
			{% else %}
			
				<a href="{{ site.url | append: entry.url }}">
					<li>{{ entry.letter }}</li>
				</a>
			
			{% endif %}
		
		{% else %}
		
		<li class="disabled">{{ entry.letter }}</li>

		
		{% endif %}
			
	{% endfor %}
	
</ul>
	
<section id="posts">
	
	<ul id="loop">

		{% for post in site.categories[page.title] %}
		<li>
		
			<h2><a href="{{ post.url }}" title="Read {{ post.title}}">{{ post.title }}</a></h2>
			<p>{{ post.excerpt }}</p>
			<p><time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%-d %B %Y" }}</time></p>

		
		</li>	
		{% endfor %}

	</ul>
	
</section>

